:root {
  --link-color: #000000;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --body-text-color: #434455;
  --heading-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --brand-color: #4d5ae5;
  --secondary-bkg-color: #f4f4fd;
  --hover-color: #404bbf;
}
