:root {
  --link-color: #000000;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --body-text-color: #434455;
  --heading-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --brand-color: #4d5ae5;
  --secondary-bkg-color: #f4f4fd;
}

.main-page {
  font-family: var(--text-font-family);
  color: var(--body-text-color);
  font-size: 16px;
}

.global-header .logo,
.footer-section .logo {
  text-decoration: none;
  font-size: 18px;
  font-family: var(--logo-font-family);
  font-weight: 800;
}

.menu-items > li {
  list-style-type: none;
  text-decoration: none;
}

.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
  border-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
}

.logo .iris-blue {
  color: #4d5ae5;
}

.logo .navy-blue {
  color: var(--body-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-text-color);
}

.contact-info > a {
  text-decoration: none;
  color: var(--body-text-color);
}

.contact-info > a:hover,
.contact-info > a:focus {
  color: blue;
}

.team-members > li {
  text-decoration: none;
}
