:root {
  --link-color: #000000;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --body-text-color: #2e2f42;
  --main-background-color: #ffffff;
}

.main-page {
  font-family: var(--text-font-family);
  color: var(--body-text-color);
  font-size: 16px;
}

.global-header .logo {
  text-decoration: none;
  font-size: 18px;
}

.ul {
  list-style-type: none;
}

.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
  border-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
}

.logo .iris-blue {
  color: #4d5ae5;
}

.logo .navy-blue {
  color: var(--body-text-color);
}
